@mixin btn{
    background: #FCD34D;
    width: 115px;
    height: 40px;
    border-radius: 10px;
    color: $dark-color;
    font-weight: $font-weight-bold;
    border: 1px solid $primary-color;
    cursor: pointer;
    transition: 0.25s;
    &:hover{
        background: linear-gradient(#FCD34D 25%, #FFB84D 50%, #D97706 100%);
        scale: 1.03;
    }
}

@mixin btn2{
    @include btn();
    background: #2b2b2b;
    color: $primary-color;
    font-size: 14px;
    &:hover{
      background: rgba(255, 184, 77, 0.1);
      box-shadow: 0px 0px 10px 5px rgba(255, 184, 77, 0.1);
      scale: 1;
    }
  }

@mixin spinner(){
    border: 3px solid rgba(0, 0, 0, .5);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border-left-color: transparent;
    animation: spin 1s linear infinite;
    position: absolute;
}  

$primary-color: #FFB84D;
$primary-colorTrans: #FFB84DAA;
$light-color: #FFFFFF;
$dark-color: #141414;
$primary-back: #1b1b1b;
$header-back: #2b2b2b;


$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;

$font-family-general: 'IBM Plex Sans', sans-serif;

@keyframes spin {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}